<br/>
<h1 class="center title">How does it REALLY work?</h1>
<div class="blurb">diffttt is built on Ruby on Rails. There are three (or four, depending on how you count them) main gems behind the magic:</div>
<h3 class="center gem">NOKOGIRI</h3>
<h3 class="center gem">DIFFY</h3>
<h3 class="center gem">RESQUE</h3>
<h5 class="center mini">(+ RESQUE-SCHEDULER)</h5>
<br/>
<div class="blurb">The data model is made up of 3 main parts:</div>
<h3 class="center gem">USERS</h3>
<h3 class="center gem">DIFFS</h3>
<h3 class="center gem">SCRAPES</h3>
<br/>
<div class="blurb">Currently, the system is set to check all diffs:</div>
<h3 class="center gem">EVERY 7 MINUTES</h3>
