<% if signed_in? %>
	<h1>My Diffs</h1>
	<br/>
	<table>
	  <tr class="boldtext">
		<th class="table-column">Name</th>
		<th class="table-column">URL</th>
		<th class="table-column">CSS Selector</th>
	  </tr>

	<% @diffs.each do |diff| %>
	  <tr>
		<td><%= link_to diff.name, diff %></td>
		<td><%= diff.url %></td>
		<td><%= diff.div %></td>
	  </tr>
	<% end %>
	</table>

	<br />
<% else %>
	<script>
	window.location = "<%= escape_javascript(signin_path) %>";
	</script>
<% end %>