


<% if !signed_in? %>
	<h1 class="slogan">diffttt is a tool to help you monitor web pages of interest.</h1>
	<a class="btn" id="big" href="<%= signup_path %>">Sign Up</a>

<% else %>
	
	<h2 class="current-diffs">You have
	<a class="diff-number" href='<%=diffs_path%>'>
		<%= current_user.diffs.count %> diff<% if current_user.diffs.count != 1 %>s<% end %>.
	</a>
	</h2>
	
	<br/> 
	
	<a href='<%=start_path%>'>
		<div class="btn" id="start">
			New Diff
		</div>
	</a>
	
<% end %>