body {
	width:100%;
	font-family:'Helvetica';
}

a {
	text-decoration:none;
}

.container {
	width:840px;
	margin:0 auto;
}

.broken-wrapper {
	width:100%;
	float:left;
	margin-top:80px;
}

.header {
	float:left;
	display:block;
	width:100%;
	margin-bottom:30px;
}

.nav-link {
	list-style-type:none;
	clear:none;
	float:left;
}

.signin {
	float:right;
}

.home-icon {
	background-image:url('diffttt-logo.png');
	background-size:cover;
	height:30px;
	width:200px;
}

.home-link {
	float:left;
}

.nav-link, .nav-link > a {
	font-size: 16px;
	margin-left:25px;
	line-height: 24px;
	text-decoration: none;
	font-weight: bold;
	color: rgb(51, 204, 255);
}

.boldtext {
	font-weight: bold;
	font-size:14px;
}
	

.content {
	margin:50px auto;
	line-height:20px;
}

.slogan {
	font-size: 24px;
	line-height:24px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	text-align:center;
}

.btn {
	color: #fff;
	border:none;
	font-family:helvetica,sans-serif;
	cursor:pointer;
	background: #3cf;
	font-weight: bold;
	text-align:center;
	font-size: 16px;
	line-height:24px;
	padding:12px 24px;
	border-radius:6px;
}

#big {
	margin:40px auto;
	display:block;
	font-size:20px;
	width:120px;
	border-radius:100px;
}

#start {
	width:90px;
}

.current-diffs {
	font-size:24px;
	letter-spacing:0px;
}

.diff-number {
	color: #3cf;
}

.field {
	line-height:23px;
	font-size:16px;
	font-family:helvetica, sans-serif;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);
	padding:5px;
	width:300px;
}

.instructions {
	font-size:14px;
	margin-bottom:20px;
}

table {
	border-radius:5px;
	background:rgba(0,0,0,0.05);
	padding:5px 10px;
}

th {
	margin-right:40px;
	min-width:240px;
	text-align:left;
	padding-bottom:5px;
	font-size:18px;
}

tr {
	line-height:36px;
	margin:10px 0px;
}

td {
	font-size: 16px;
	border:0px;
}

td > a:visited, td > a {
	color:#3cf;
	font-weight:bold;
}

.diff-form {
	font-size:16px;
	margin:30px 0px;
}

.alert-notice {
	margin-top:30px;
	padding:20px;
	background:rgba(0,0,0,0.05);
	font-size:16px;
	border-radius:5px;
}

.th-date {
	max-width:140px;
}

.th-content {
	width:700px;
}

.td-date {
	font-size:14px;
	line-height:22px;
}

tr.changes > td
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.center {
	text-align:center;
}

.blurb {
	text-align:center;
	font-size:16px;
	width:470px;
	margin:40px auto;
	margin-bottom:20px;
}

.title {
	letter-spacing:0px;
}

.gem {
	font-size:48px;
	letter-spacing:-2px;
	color:rgb(52,52,52);
	margin-bottom:-5px;
	margin-top:44px;
}

.mini {
	font-size:14px;
	margin-bottom:-10px;
	margin-top:20px;
}


/* -------------- Diffy Styles ------------------ */
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }