body {
	width:100%;
	font-family:'Helvetica';
}

a {
	text-decoration:none;
}

.container {
	width:840px;
	margin:0 auto;
}

.broken-wrapper {
	width:100%;
	float:left;
	margin-top:90px;
}

.header {
	float:left;
	display:block;
	width:100%;
	margin-bottom:30px;
}

.nav-link {
	list-style-type:none;
	clear:none;
	float:left;
}

.signin {
	float:right;
}

.home-icon {
	background-image:url('diffttt-logo.png');
	background-size:cover;
	height:30px;
	width:200px;
}

.home-link {
	float:left;
}

.nav-link, .nav-link > a {
	font-size: 16px;
	margin-left:25px;
	line-height: 24px;
	text-decoration: none;
	font-weight: bold;
	color: rgb(51, 204, 255);
}

.boldtext {
	font-weight: bold;
	font-size:14px;
}
	

.content {
	margin:50px auto;
	line-height:20px;
}

.slogan {
	font-size: 24px;
	line-height:24px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	text-align:center;
}

.btn {
	color: #fff;
	border:none;
	font-family:helvetica,sans-serif;
	cursor:pointer;
	background: #3cf;
	font-weight: bold;
	text-align:center;
	font-size: 16px;
	line-height:24px;
	padding:12px 24px;
	border-radius:6px;
}

#start {
	width:90px;
}

.current-diffs {
	font-size:24px;
	letter-spacing:0px;
}

.diff-number {
	color: #3cf;
}

.field {
	line-height:23px;
	font-size:16px;
	font-family:helvetica, sans-serif;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);
	padding:5px;
	width:300px;
}

.instructions {
	font-size:14px;
	margin-bottom:20px;
}

th {
	margin-right:40px;
	min-width:200px;
	text-align:left;
	font-size:18px;
}

tr {
	line-height:30px;
	height:30px;
}

td {
	font-size: 16px;
}

.diff-form {
	font-size:18px;
	margin:30px 0px;
}


/* -------------- Diffy Styles ------------------ */
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }